<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.com">
<head>
    <meta charset="UTF-8">
    <title>Danh sách môn học</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">

</head>
<body>
<h3>Danh sách môn học</h3>
<hr/>
<a th:href="@{/subject/create}" class="btn btn-success btn-sm mb-4">Thêm mới</a>
<table class="table table-bordered table-sm table-striped">
    <thead class="table-danger">
    <tr>
        <th>Id</th>
        <th>Tên môn học</th>
        <th>Số tiết</th>
        <th>Xử lý</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="subject:${subjects}">
        <td th:text="${subject.id_subject}"></td>
        <td th:text="${subject.name}"></td>
        <td th:text="${subject.period}"></td>
        <td>
            <a sec:authorize="hasRole('ADMIN')" th:href="@{/subject/update(id=${subject.id_subject})}" class="btn btn-info btn-sm">Chỉnh sửa</a>
            <a sec:authorize="hasRole('ADMIN')" th:href="@{/subject/delete(id=${subject.id_subject})} " onclick="return confirm('Bạn có chắc muốn xóa môn học này không?')" class="btn btn-danger btn-sm">Xóa</a>
        </td>
    </tr>
    </tbody>
</table>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>

</body>
</html>